# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.dist/
build/
.env
*.log

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# venv
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# project-specific secrets
Section1/check_get_attribute.py
Section1/login.txt
Section1/pytest.ini
Section1/temp.py
Section3
Section4